body {
    margin: 0;
    background-color: #fcfbf8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#body {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#leftSideT{
    width: 20vw;
    background-color: #1f9cf1;
}
#leftSide {
    display: flex;
    flex-direction: column;
    width: 20vw;
    background-color: #25517e;
    padding: 0px 20px 20px 20px;
    gap: 10px;
    height: 100vh;
    justify-content:space-between;
    position: fixed;
    overflow-y: scroll;
    scrollbar-width: none;
    
}

#upSideBar {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
    position: fixed;
    background-color: #25517e;
    border-bottom: 1px solid #1f9cf1;
    z-index: 100;
}

#schoolLogo {
    width: 50px;
    height: 50px;
    border-radius: 60px;
    box-shadow: 0px 0px 5px 2px #25517e;
    animation: glow 2s infinite alternate;
}

#sections {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 150px;
}

#schoolName {
    font-size: large;
    font-weight: bold;
    color: #fcfbf8;
}

#section {
    display: flex;
    gap: 10px;
    color: #fcfbf8;
    font-weight: normal;
    font-size: 1rem;
    align-items: center;
    padding: 5px 5px 20px 5px;
    border: 0px;
    border-bottom: 1px solid #fcfbf8;
    cursor: pointer;
    transition: all .5s ease;
    border-radius: 10px;
    background-color: #25517e;
}

#headAcc{
    border: 0px;
}

#headSchools{
    background-color: #25517e;
    border: 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: fit-content;
}

#section:hover {
    background-color: #fcfbf8;
    color: #25517e;
}

#icon {
    font-size: 1.7rem;
}

#rightSide {
    background-color: #fcfbf8;
    width: 73vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#sectionCards{
    display: flex;
    width: 70vw;
    overflow-x: scroll;
    scrollbar-width: none;
    gap: 20px;
    padding: 10px 10px 20px 10px;
}

#secCard{
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding:30px 50px ;
    align-items: center;
    border-radius: 5px;
    transition: all .5s ease;
    box-shadow: 0px 5px 1px 1px #e9254e;
}

/* #sectionCards {
    display: flex;
    width: 100%;
    gap: 20px;
    margin-top: 30px;
    align-items: center;
    overflow-x: scroll;
    scrollbar-width: none;
}

#secCard {
    width: 1000px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: all .5s ease;
} */
#secCard:hover{
    box-shadow: 0px 0px 5px 0px #1f9cf1;
}

#secCard:active{
    opacity: 0.5;
}


#schoolName2 {
    color: #000011;
    font-weight: 600;
}

#number {
    color: #000011;
    font-weight: 400;
}

#icon2 {
    padding: 20px;
    border-radius: 50px;
    font-size: 2rem;
    color: #fcfbf8;
}

#rightDown {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #fcfbf8;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 0px #25517e;
    gap: 20px;
}

#rightDown2 {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #fcfbf8;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 0px #25517e;
    gap: 20px;
    height: fit-content;
}

#rightUp {
    display: flex;
    justify-content: space-between;
}

#name {
    font-weight: bold;
    font-size: 1.5rem;
}

#ops {
    display: flex;
    gap: 10px;
}

#accept {
    background-color: #08bb26;
    padding: 5px 10px;
    border-radius: 5px;
    border: 0px;
    width: fit-content;
    color: #fcfbf8;
    font-weight: 600;
    display: flex;
    gap: 5px;
    align-items: center;
    transition: all .5s ease;
}



#recommend {
    background-color: #1f9cf1;
    padding: 5px 10px;
    border-radius: 5px;
    border: 0px;
    width: fit-content;
    color: #fcfbf8;
    font-weight: 600;
    display: flex;
    gap: 5px;
    align-items: center;
    transition: all .5s ease;
}

#disapprove {
    background-color: #e9254e;
    padding: 5px 10px;
    border-radius: 5px;
    border: 0px;
    width: fit-content;
    color: #fcfbf8;
    font-weight: 600;
    display: flex;
    gap: 5px;
    align-items: center;
    transition: all .5s ease;
}

#delete {
    background-color: red;
    padding: 5px 10px;
    border-radius: 5px;
    border: 0px;
    width: fit-content;
    color: #fcfbf8;
    font-weight: 600;
    display: flex;
    gap: 5px;
    align-items: center;
    transition: all .5s ease;
}

#deny {
    background-color: #e9254e;
    padding: 5px 10px;
    border-radius: 5px;
    border: 0px;
    width: fit-content;
    color: #fcfbf8;
    font-weight: 600;
    display: flex;
    gap: 5px;
    align-items: center;
    transition: all .5s ease;
}

#accept:hover,
#disapprove:hover,
#recommend:hover,
#delete:hover,
#deny:hover {
    opacity: 0.7;
}

#accept:disabled,
#disapprove:disabled,
#recommend:disabled,
#delete:disabled,
#deny:disabled{
    cursor: not-allowed;
    opacity: 0.5;
}
#table {
    width: 100%;
    max-height: 100vh;
    overflow-x: scroll;
    scrollbar-width: none;
    transition: all 0.5s ease;
}

table {
    border-collapse: collapse;
}

th {
    color: rgb(57, 57, 57);
    border-bottom: 1px solid grey;
    padding: 10px;
    text-align: center;
    width: fit-content;
    white-space: nowrap;
    transition: all 0.5s ease;
}
#th{
    display: flex;
    align-items: center;
    gap: 5px;
    transition: all 0.5s ease;
}

#icoo{
    padding: 3px;
    border-radius: 50px;
    font-size: 0.8rem;
    background: #08bb26;
    color: #f2f2f2;
}

td {
    border-bottom: 1px solid grey;
    text-align: center;
    width: fit-content;
    white-space: nowrap;
    color: grey;
    padding: 10px 20px;
    transition: all 0.5s ease;
}

tr:nth-child(even) {
    background: #f2f2f2;
}
#search{
    display: flex;
    gap:0px;
    border-radius: 20px;
    box-shadow: 0px 0px 1px 0px #1f9cf1;
    align-items: center;
}
#sarchInput{
    border-radius: 20px;
    outline: none;
    border: 0px;
    padding: 10px;
    color: grey;
    font-weight: bold;
    font-size: 0.8rem;
}
#searchIcon{
    color: grey;
    transition: all 0.5s ease-in;
    padding: 10px;
}

#searchIcon:hover{
    color: #25517e;
}

#viewMore{
    display: flex;
    width: fit-content;
    padding: 5px;
    gap: 5px;
    background-color: #25517e;
    border-radius: 5px;
    align-items: center;
    border: 0px;
    color: #f2f2f2;
    font-weight: 500;
    transition: all .5s ease;
}

#viewMore:hover{
    opacity: 0.7;
}

#otherButtons{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#otherLeft{
    flex: 1;
    display: flex;
    gap: 10px;
}
#butts{
    border: 0px;
    color: grey;
    font-size: 1rem;
    font-weight: bold;
    background-color:#fcfbf8;
    transition: all .5s ease;
}

#butts:hover{
    color: #25517e;
}
#otherRight{
    border: 0px;
    color: grey;
    font-size: 1rem;
    font-weight: bold;
    background-color:#fcfbf8;
    transition: all .5s ease;
}

#checkAll{
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: space-between;
    background-color: #fcfbf8;
}

#buttsdia{
    width: fit-content;
    padding: 5px;
    display: flex;
    gap: 20px;
    margin: 0 auto;
}