#newOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    z-index: 1000000;
    gap: 30px;
}

#cancel {
    color: #dfe4ea;
    font-size: 1.5rem;
    margin: 30px;
}

#card{
    width: 50%;
    background-color: #dfe4ea;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 20px 10px 20px 10px;
}

#names{
    margin: 0 auto;
    display: flex;
    gap: 10px;
    font-weight: bold;
    font-size: 1.5rem;
}

#formChange{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 84.5%;
    height: 400px;
    overflow-y: scroll;
    overflow-x: scroll;
    gap: 20px;
}

#editWarn{
    display: flex;
    gap: 20px;
    color: #cdad3d;
    font-weight: 500;
    font-size: 1rem;
    align-items: center;
    padding: 10px;
    width: 95%;
    height: fit-content;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px grey;
}

#inpss{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 10px;
}

#offer-letter{
    height: fit-content;
    overflow-y: scroll;
}