#postPage,
#undergradPage {
    display: flex;
    flex-direction: column;

}

.form-container {
    width: 85%;
    max-width: 1000px;
    margin: 0 auto;
    background: #fffefa;
    padding: 25px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

h2 {
    background: #25517e;
    color: #fffefa;
    padding: 8px;
    font-size: 18px;
    margin-top: 30px;
    border-radius: 4px;
}

#label {
    font-weight: 500;
    display: block;
    color: grey;
}

#inps {
    display: flex;
    gap: 10px;
    width: 30%;
    align-items: center;
    font-weight: bold;
    color: rgb(56, 56, 56);
}

input,
select,
textarea {
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    min-height: 80px;
}

/* table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

#table {
    display: flex;
    width: 100%;
    overflow-x: scroll;
}

table,
th,
td {
    border: 1px solid #ccc;
}

th,
td {
    padding: 8px;
    text-align: left;
} */

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
}

.checkbox-group label {
    margin-right: 20px;
    font-weight: normal;
}

.submit-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background: #25517e;
    color: #fffefa;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin: 20px auto;
    display: flex;
    width: fit-content;
    gap: 10px;
    align-items: center;
}

.submit-btn:hover {
    background: #014080;
    opacity: 0.8;
}

#submit2 {
    margin-top: 20px;
    padding: 10px 20px;
    background: #e9254e;
    color: #fffefa;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin: 20px auto;
    display: flex;
    width: fit-content;
    gap: 10px;
    align-items: center;
    transition: all 0.5s ease;
}

#submit2:hover {
    opacity: 0.7;
}

#coverPage {
    object-fit: contain;
    width: 100%;
}

#downButt {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#studentDetails,
#guardianDetails {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#fileNames {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    box-shadow: 0px 0px 1px 0px #004ea1;
    border-radius: 10px;
    padding: 20px;
    align-items: center;
}


#fRight {
    display: flex;
    flex-direction: column;
    max-height: 200px;
    overflow-y: scroll;
    scrollbar-width: none;
}

#fileMore {
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
    border: 0px;
    border-radius: 10px;
    padding: 10px 10px;
    display: flex;
    gap: 10px;
    background: linear-gradient(to right, #0158b5, #004ea1);
    align-items: center;
    color: #fcfbf8;
    font-weight: bold;
    margin: 20px 0px;
    transition: all .5s ease;
}

#fileMore:hover {
    opacity: 0.7;
}

#fRight {
    padding: 10px;
    gap: 10px;
}

#fName {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 0px #0158b5;
    display: flex;
    font-weight: bold;
    color: grey;
    align-items: center;
    gap: 10px;
}

#modeST {
    display: flex;
    flex-wrap: wrap;
}

#glow3 {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50px;
    border: 0px;
    z-index: 10000000;
    width: fit-content;
    height: fit-content;
    border: 1px solid #08bb26;
    background-color: #a2edad;
    animation: glow3 0.5s infinite alternate;
}

.floating-button {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 0px;
    background: linear-gradient(to bottom, #5bf878, #08bb26);
    color: white;
    font-size: 24px;
    cursor: pointer;
    font-size: 1.8rem;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: all 0.5s ease;
}

.floating-button:hover {
    opacity: 0.7;
}

.floating-button:active {
    opacity: 0.4;
}

#offece1 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#inps2 {
    display: flex;
    gap: 5px;
}

#submit1:disabled,
#submit2:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

#refresh {
    color: grey;
}

.loader {
    width: 20px;
    --b: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #ffffff;
    -webkit-mask:
        repeating-conic-gradient(#0000 0deg, #000 1deg 70deg, #0000 71deg 90deg),
        radial-gradient(farthest-side, #0000 calc(100% - var(--b) - 1px), #000 calc(100% - var(--b)));
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
    animation: l5 1s infinite;
}

/* HTML: <div class="loader"></div> */
#loadingFetch {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 50px 200px;
    align-items: center;
}

#loader {
    --d: 22px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    color: #004ea1;
    box-shadow:
        calc(1*var(--d)) calc(0*var(--d)) 0 0,
        calc(0.707*var(--d)) calc(0.707*var(--d)) 0 1px,
        calc(0*var(--d)) calc(1*var(--d)) 0 2px,
        calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
        calc(-1*var(--d)) calc(0*var(--d)) 0 4px,
        calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
        calc(0*var(--d)) calc(-1*var(--d)) 0 6px;
    animation: l27 1s infinite steps(8);
}

#getFetch {
    font-size: large;
    font-weight: bold;
    color: #014080;
}

#noData {
    font-size: large;
    font-weight: bold;
    color: #004ea1;
}

#editButts{
  background-color: #004ea1;
  color: #fcfbf8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes l27 {
    100% {
        transform: rotate(1turn)
    }
}

@keyframes glow3 {
    0% {
        padding: 5px;
    }

    100% {
        padding: 10px;
    }
}


/* HTML: <div class="loader"></div> */
.loader {
    width: 20px;
    --b: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #ffffff;
    -webkit-mask:
        repeating-conic-gradient(#0000 0deg, #000 1deg 70deg, #0000 71deg 90deg),
        radial-gradient(farthest-side, #0000 calc(100% - var(--b) - 1px), #000 calc(100% - var(--b)));
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
    animation: l5 1s infinite;
}

@keyframes l5 {
    to {
        transform: rotate(.5turn)
    }
}

@media (max-width: 768px) {

    #fileNames,
    #studentDetails {
        flex-direction: column;
    }

    #inps {
        width: 100%;
        justify-content: space-between;
    }

    #inps2 {
        flex-direction: column;
    }
}